doctype html
html
	head
		title= title
		link(href="https://fonts.googleapis.com/css?family=Antic+Slab", rel="stylesheet")
		link(rel="stylesheet", href='/stylesheets/style.css')
		script(src="/javascripts/jquery-3.2.1.min.js")
		script(src="/javascripts/jquery-ui.min.js")
		script(src="/javascripts/jscolor.min.js")
		script(src="/javascripts/colortriangle.js")
		script(src="/javascripts/socket.io.js")
		script(src="/javascripts/socketcom.js")
		script(src="/javascripts/ui.js")
body
	div#mainContainer
		block content
